
*.h   filter=rcs-keywords
*.c   filter=rcs-keywords
*.cc  filter=rcs-keywords
*.py  filter=rcs-keywords
*.sh  filter=rcs-keywords
*.csh filter=rcs-keywords


*.h   ident
*.c   ident
*.cc  ident
*.py  ident
*.sh  ident
*.csh ident

