name: halld_recon

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]


jobs:
  jana2_halld_recon:
    name: halld_recon
    runs-on: [self-hosted, macOS, ARM64]

    steps:
      - uses: actions/checkout@v4
        with: 
          path: JANA2

      - name: Make Scripts executable
        run: |
          chmod +x ./JANA2/.github/jana_build.sh
          chmod +x ./JANA2/.github/halld_recon_build.sh

      - name: Build JANA2 on Alma9
        run: |
          docker run --rm \
            --platform linux/amd64 \
            --privileged \
            --mount type=bind,source=${{ github.workspace }},target=/workspace \
            raiqarasool/gluex_build:cvmfs /bin/bash -c "source /workspace/JANA2/.github/jana_build.sh"
            
      - name: Git Clone Halld_recon
        run: |
          mkdir halld_recon
          cd halld_recon
          git clone --branch rasool_jana2 https://github.com/JeffersonLab/halld_recon.git .
        
      - name: Build Halld_recon on Alma9
        run: |
          docker run --rm \
            --platform linux/amd64 \
            --privileged \
            --mount type=bind,source=${{ github.workspace }},target=/workspace \
            raiqarasool/gluex_build:cvmfs /bin/bash -c "source /workspace/JANA2/.github/halld_recon_build.sh"

      - name: Cleaning up created folders
        if: always()
        run: |
          rm -rf JANA2
          rm -rf halld_recon

            


